[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emory[Cc]aptures/
[Pp]roject[Ss]ettings/SceneTemplateSettings.json

*.csproj
*.unityproj
*.sln
*.suo

*.apk
*.aab
*.unitypackage

Thumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/
*.lnk
*.slnx

.vs/
*.vsidx
*.futdcache.v2
DocumentLayout.json
*.metadata.v10.bin
*.projects.v10.bin
*.strings.v10.bin